<h3>Here is all the info on <%=@contact.first_name() %>:</h3>

<ul>
  <% @contact.addresses().each() do |info| %>
  <li><%= info.city() %> <%= info.state() %> <%= info.zip() %> <%= info.type() %></li>
  <% end %>
</ul>
<ul>
  <% @contact.phone_nums().each() do |info| %>
  <li><%= info.area_code() %> <%= info.number() %> <%= info.type() %> </li>
  <% end %>
</ul>


<br>
<a href="/contacts/<%= @contact.id%>/phones/new">Add a new phone number</a><br>
<a href="/contacts/<%= @contact.id%>/addresses/new">Add a new address</a><br>

<a href="/">Return to Main Page</a>
